body{background-image: url("../book.jpg");
}
img {
  width: 300px;
  height: auto;
}
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
img:hover{
  transform: scale(1.05);
}
img {
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
img {
  border-radius: 15px;
}
.my-img {
  border-radius: 10px;
}


